user_list_dynamo:
  handler: src/functions/apis/user_list_dynamo/handler.execute
  events:
    - http:
        path: /user/dynamo
        method: get
        cors: true

  #warmup enabled
  warmup:
    default:
      enabled: true
