get_profile:
  handler: src/functions/apis/get_profile/handler.execute
  events:
    - http:
        path: /me
        method: get
        cors: true
        authorizer: ${self:custom.ACCESS_TOKEN_AUTHORIZE}

  environment:
    MYSQLDB_URL: ${self:custom.MYSQLDB_URL}
    MYSQLDB_NAME: ${self:custom.MYSQLDB_NAME}
    MYSQLDB_USERNAME: ${self:custom.MYSQLDB_USERNAME}
    MYSQLDB_PASSWORD: ${self:custom.MYSQLDB_PASSWORD}
    MYSQLDB_PORT: ${self:custom.MYSQLDB_PORT}

  #warmup enabled
  warmup:
    default:
      enabled: true